<p id="notice"><%= notice %></p>

<h1>Partageons des moments ensemble... contre de l'argent</h1>

<%= link_to 'New Event', new_event_path %>

<%= render partial: "events/list_events", locals: {events: @events}%>